.widget {
  margin-top: 30px;

  &__title {
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    color: #000000;

    &::after {
      content: "";
      width: 20px;
      height: 20px;

      position: absolute;
      right: 0;
      top: 0;
      background-image: url(./../../img/icons/chevron-up.svg);
      background-repeat: no-repeat;
      background-size: initial;
      background-position: center;
    }
  }


}
