@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
* {
  font-family: "Roboto", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.sidebar {
  width: 270px;
}

.widget__title {
  position: relative;
  margin-bottom: 20px;
  font-size: 700px;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
}
.widget__title::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(./../../img/icons/chevron-up.svg);
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}
.cards-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.cards-holder > .card-link {
  margin-bottom: 30px;
}

.card-link {
  display: inline-block;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.card-link:hover {
  opacity: 0.8;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.card {
  position: relative;
  width: 270px;
  background-color: #fff;
}
.card__badges {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__badges > * + * {
  margin-left: 10px;
}
.card__badge {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  background-color: #525252;
  border-radius: 4px;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
}
.card__badge--class {
  background-color: #ffcf26;
}
.card__badge--credit {
  background-color: #8a7a42;
}
.card__content {
  padding: 16px 15px 20px;
}
.card__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
}
.card__term {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}
.card__metro {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.14;
  color: #000000;
}
.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  background: url("./../../img/icons/metro.svg") no-repeat;
  background-size: initial;
}
.card__addres {
  font-size: 14px;
  line-height: 1.14;
  color: #777777;
}

.btn-more {
  width: 100%;
  height: 80px;
  background-color: #e5e5e5;
  border-radius: 4px;
  border: none;
  text-align: center;
  color: #4290c9;
  cursor: pointer;
  -webkit-transform: background-color 0.2s ease-in;
  -ms-transform: background-color 0.2s ease-in;
  transform: background-color 0.2s ease-in;
}
.btn-more:hover {
  background-color: #cccccc;
}
.btn-more img {
  margin-right: 10px;
  vertical-align: bottom;
}

.location__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.location__row:first-child {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  border: 1px solid #d6d6d6;
}
.location__row:last-child {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d6d6d6;
  border-top: none;
}
.location__btn {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}
.location__checkbox:checked + .location__btn:hover {
  background-color: #e0b000;
}

body {
  background-color: #f4f4f4;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
}

.main {
  width: 870px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */