// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/sidebar";
@import "./components/cards";
@import "./components/button";
@import "./components/location";
@import "./components/radio";
@import "./components/checkbox";
@import "./components/toggle";
@import "./components/media";



body {
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;


}
.main {
  width: 870px;
}
.sidebar {
  min-width: 200px;
  width: 270px;
}

.main + .sidebar {
  margin-left: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
}

