// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/sidebar";
@import "./components/cards";
@import "./components/button";
@import "./components/location";
@import "./components/radio";
@import "./components/checkbox";



body {
  background-color: #f4f4f4;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 60px;

}
.main {
  width: 870px;
}
.sidebar {
  width: 270px;
}
.row {
  display: flex;
  justify-content: space-between;
}

